@use './partials/vars';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'node_modules/flag-icons/css/flag-icons.min.css';


body {
    color: white;
    background-color: black;
}

img {
    max-width: 100%;
}

.debug {
    background-color: rgba($color: blue, $alpha: .25);
    border: 1px solid black;
}