@use './partials/vars.scss' as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'node_modules/flag-icons/css/flag-icons.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: white;
    background-color: $primary-color;
    // background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


img {
    max-width: 100%;
}

.debug {
    background-color: rgba($color: blue, $alpha: .25);
    border: 1px solid black;
}