@use './partials/vars';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'node_modules/flag-icons/css/flag-icons.min.css';


body {
    color: white;
    // background-color: #141414;
    background-image: linear-gradient(black 0px,
            #141414 20%,
            #141414 100%)
}


img {
    max-width: 100%;
}

.debug {
    background-color: rgba($color: blue, $alpha: .25);
    border: 1px solid black;
}